*{
    margin: 0px;
}
div
{
    border-radius: 30px;
}
h1{
    color: azure;
}
.level1{
    background-color: red;
    padding: 20px;
}
.level2{
    background-color: yellow;
    padding: 30px;
    margin: 20px;
}
.level3{
    background-color: green;
    padding: 20px;
    margin: 10px;
}
.level4{
    background-color: purple;
    padding: 20px;
}
.level5{
    background-color: black;
    padding: 20px;
}
.level6{
    background-color: white;
    padding: 20px;
}
.level7{
    background-color: brown;
    padding: 20px;
}
